body {
  font-family: "Helvetica", Helvetica;
  font-size: 15px;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
}

/* img { */
  /*fits in that container*/
  /* width:100%; */
/* } */

.container {
  margin:auto;
}

/* === HEADER ================================ */
.navBar {

  /* flex-direction:row;
  flex-wrap:nowrap;
  padding-left:50%; */
  flex-wrap:nowrap;
  text-transform: uppercase;
}

.navBar a {
  color:#993735;
  /*removes underline on links*/
  text-decoration:none;
}

.navBar li {
  /*navbar links are in one row, removes bullet points*/
  display:inline;
  /* text-align: right; */
  padding-right: 20px;
}

.navBar .current a, .navBar a:hover {
  color:#647441;
  text-decoration:none;
}

.mainHeader {
  background-color:#ffffff;
  border-bottom: 1px solid #647441;
  padding-top: 1%;
  position:fixed;
  width:100%;
}

/* === INTRODUCTION ================================ */

.introSection {
  background-image:url("../images/absbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom:1px;
  margin-bottom:30px;
}

.introSection .row {
  height:750px;
}

.introSection h1 {
  font-size: 50px;
  margin:0;
  padding-bottom:40px;
}

.introSection p{
  font-size: 20px;
  margin:0;
}

/* === ABOUT SECTION ================================ */

.aboutEMQ{
  text-align:justify;
}

.aboutSection .row {
  height:450px;
}

.aboutSection h1{
  color: #993735;
  font-size:30px;
  padding-bottom:10px;
  padding-top:10px;
}

.aboutSection li{
  /*removes bullet points*/
  list-style-type:none;
}

.aboutPic{
  padding-top:100px;
}

/*
.aboutEMQ {
  background-color:#F5F5DC;
  background-size: cover;
} */
/* === SERVICES SECTION ================================ */

.servicesSection {
  background-color:#eeeeee;
}

.servicesSection h1{
  color: #993735;
  font-size:30px;
  padding-bottom:10px;
  padding-top:10px;
}

.servicesSection .row{
  /* text-align: right; */
  padding-bottom:30px;
  padding-top:20px;
}

.servicesSection .moreButton {
  background-color:#647441;
  color:#ffffff;
  cursor:pointer;
  padding: 15px 25px;
  text-align:center;
  text-transform:uppercase;
  font-size:16px;
}

.servicesSection .moreButton:hover {
  background-color:#000000;
  cursor:pointer;
  font-size:16px;
  padding: 15px 25px;
  text-align:center;
  text-transform:uppercase;
  transition-duration:0.5s;
}

/* .firstService {
  background-color: #F5F5DC;
}

.secondService {
  background-color:#993735;
}

.thirdService {
  background-color:#647441;
} */

/* === CONTACT US SECTION ================================ */

/* === FOOTER ================================ */

/* === MEDIA QUERIES ================================ */
/* if width is less than 800px, it resizes it to the conditions below */
@media(max-width:800px) {
  .introSection h1 {
    font-size:30px;
  }
  .introSection .row{
    height:450px;
    padding-top:100px;
  }
}
