body {
  font-family: "Helvetica", Helvetica;
  font-size: 15px;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding-bottom: 50px;
}

h2 {
  color: #993735;
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.container {
  margin: auto;
}

.back-to-top {
  bottom: 10px;
  color: #ffffff;
  /* position:fixed; */
  position: relative;
  right: 15px;
}

/* === HEADER ================================ */

.mainHeader {
  background-color: #ffffff;
  border-bottom: 1px solid #647441;
  padding-top: 1%;
  position: fixed;
  width: 100%;
}

.navBar {
  flex-wrap: nowrap;
  text-transform: uppercase;
}

.navBar a {
  color: #993735;
  text-decoration: none;
  /*removes underline*/
}

.navBar li {
  display: inline;
  /*navbar links are in one row, removes bullet points*/
  padding-right: 20px;
}

.navBar .current a, .navBar a:hover {
  color: #647441;
  text-decoration: none;
}

/* === INTRODUCTION ================================ */

.introSection {
  background-attachment: fixed;
  /*makes background stay when scrolling*/
  background-image: url("../images/qu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px;
  margin-bottom: 30px;
}

.introSection .row {
  height: 750px;
}

.introSection p {
  font-size: 25px;
  margin: 0;
}

/* === ABOUT SECTION ================================ */

.aboutEMQ {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom:30px;
  text-align: justify;
}

.aboutSection .row {
  height: 400px;
}

.aboutSection li {
  list-style-type: none;
  /*removes bullet points*/
}

.aboutPic {
  padding-top: 40px;
}

.aboutSection .learnMoreButton {
  background-color: #647441;
  border-color: #647441;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 25px;
  top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.aboutSection .learnMoreButton:hover {
  background-color: #ffffff;
  border-color: #647441;
  color: #647441;
  transition-duration: 0.2s;
}

/* === COMMITTED SECTION ================================ */

.committedSection {
  /* background-image: linear-gradient(#FFFFFF, #F5F5DC, #eeeeee); */
  padding-top: 40px;
  padding-bottom: 40px;
}

.fa-clipboard-check, .fa-handshake, .fa-truck, .fa-users {
  color: #993735;
  font-size: 70px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
}

.fa-clipboard-check:hover, .fa-handshake:hover, .fa-truck:hover, .fa-users:hover {
  animation-direction: reverse;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 3s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 100%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

/* === OUR SERVICES SECTION ================================ */

.servicesSection {
  background-color: #eeeeee;
  height: 620px;
  padding-top: 50px;
}

.servicesSection .innerRow {
  padding-bottom: 350px;
}

.servicesSection .moreButton {
  background-color: #647441;
  border-color: #647441;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 25px;
  bottom: 100px;
  text-align: center;
  text-transform: uppercase;
}

.servicesSection .moreButton:hover {
  background-color: #ffffff;
  border-color: #647441;
  color: #647441;
  transition-duration: 0.2s;
}

.firstService {
  padding-left: 50px;
  position: relative;
}

.secondService {}

.thirdService {}

/* === CONTACT US SECTION ================================ */

.contactSection .row {
  padding-bottom: 50px;
  padding-top: 50px;
}

.contactSection .contactUs {
  text-align: center;
}

.contactUs a {
  color: black;
  text-decoration: none;
}

/* === FOOTER ================================ */

.mainFooter {
  background-image:linear-gradient(#788b4e,#647441);
  color: #ffffff;
}

/* === MEDIA QUERIES ================================ */

/* if width is less than 800px, it resizes it to the conditions below */

@media(max-width:800px) {
  .introSection h1 {
    font-size: 30px;
  }
  .introSection .row {
    height: 450px;
    padding-top: 100px;
  }
  .aboutSection .aboutPic {
    padding-top: 10px;
  }
  .servicesSection {
    padding-top: 150px;
  }
}
