body {
  font-family: "Helvetica", Helvetica;
  font-size: 15px;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding-bottom: 50px;
}

h2 {
  color: #993735;
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.container {
  margin: auto;
}

.back-to-top {
  /* float: right; */
  float:right;
  color:#ffffff;
}

/* === HEADER ================================ */

.mainHeader {
  background-color: #ffffff;
  border-bottom: 1px solid #647441;
  padding-top: 1%;
  position: fixed;
  width: 100%;
}

.navBar {
  flex-wrap: nowrap;
  text-transform: uppercase;
}

.navBar a {
  color: #993735;
  text-decoration: none; /*removes underline*/
}

.navBar li {
  display: inline; /*navbar links are in one row, removes bullet points*/
  padding-right: 20px;
}

.navBar .current a, .navBar a:hover {
  color: #647441;
  text-decoration:none;
}

/* === INTRODUCTION ================================ */

.introSection {
  background-image: url("../images/sample.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px;
  margin-bottom: 30px;
}

.introSection .row {
  height: 750px;
}

.introSection p {
  font-size: 25px;
  margin: 0;
}

/* === ABOUT SECTION ================================ */

.aboutEMQ {
  text-align: justify;
}

.aboutSection .row {
  height: 450px;
  /* padding-top:20px;
  padding-bottom:20px; */
}

.aboutSection li {
  list-style-type: none; /*removes bullet points*/
}

.aboutPic {
  padding-top: 100px;
}

/* === SERVICES SECTION ================================ */

.servicesSection {
  background-color: #f4f4f4;
}

.servicesSection .row {
  padding-bottom: 30px;
  padding-top: 20px;
}

.servicesSection .moreButton {
  background-color: #647441;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
}

.servicesSection .moreButton:hover {
  background-color: #000000;
  transition-duration: 0.5s;
}

/* === CONTACT US SECTION ================================ */

.contactSection .row{
  padding-bottom: 200px;
  padding-top: 50px;
}

.contactSection .contactUs {
  text-align:center;
}

.contactUs a {
  color: black;
  text-decoration:none;
}

/* === FOOTER ================================ */

.mainFooter {
  background-color: #647441;
  color:#ffffff;
}

/* === MEDIA QUERIES ================================ */

/* if width is less than 800px, it resizes it to the conditions below */

@media(max-width:800px) {
  .introSection h1 {
    font-size: 30px;
  }
  .introSection .row {
    height: 450px;
    padding-top: 100px;
  }
  .aboutSection .aboutPic {
    padding-top:10px;
  }
  .servicesSection {
    padding-top:150px;
  }
}
